@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div-img-cell img {
    width: 95vh;
}

.container-form {
    
}